/* Tạo hiệu ứng chạy chữ */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Áp dụng hiệu ứng vào class animate-marquee */
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
  